/*main*/
.todo-main {
    margin-left: 0px;
    border: 1px solid rgb(46, 42, 42);
    border-radius: 2px;
    padding: 0px;
    height: 340px;
  }
  
  .todo-empty {
    height: 540px;
    line-height: 40px;
    border: 1px solid rgb(236, 9, 9);
    border-radius: 2px;
    padding-left: 5px;
    margin-top: 20px;

  }

/*item*/
.itli {
  list-style: none;
  height: 36px;
  line-height: 36px;
  padding: 0 5px;
  border-bottom: 1px solid #ddd;
}

.itli .itlabel {
  float: left;
  cursor: pointer;
}

.itli .itlabel .itli input {
  vertical-align: middle;
  margin-right: 6px;
  position: relative;
  top: -1px;
}

.itli .itbutton {
  float: right;
  display: none;
  margin-top: 3px;
}

.itli:before {
  content: initial;
}

.itli:last-child {
  border-bottom: none;
}